<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input formControlName="email" type="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Email">

                    </div>
                    <!-- <small *ngIf="loginForm.controls['Email'].dirty&&loginForm.hasError('required','Email')" class="text-danger">Email is required</small> -->


                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                   <!-- <small  *ngIf="loginForm.controls['Password'].dirty&&loginForm.hasError('required','Password')" class="text-danger">password is required</small> -->
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <a style="color: #fff; margin-top: 10px;" routerLink="/register">Don't have an account?  Register now!</a>
            </div>
        </div>
    </div>
</div>
