<div>
  <div class="container mt-5">
     <div class="card">
      <div class="card-header">
          <h4>Products List
        <a routerLink="/create-product" class="btn btn-primary float-end">Add Product</a>

      </h4>
      </div>

<div class="card-body">
  <table class="table tabl-striped table-bordered">
      <thead>
          <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Qte</th>
          <th>Action</th>
          </tr>
      </thead>
      <tbody>
         <tr  *ngFor="let p of product; let i = index">
          <td>{{p._id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.description}}</td>
          <td>{{p.qte}}</td>
              <td>
              <a (click)="gotToEdit(p._id)" class="btn btn-success">Edit</a>
              <button (click)="deleteProduct(p._id)" type="button" class="btn btn-danger">Delete</button>
              </td>
          <tr>
      </tbody>
  </table>
